*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  box-sizing: border-box;
  background-color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5.2rem;
    font-weight: 400;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

.heading-secondary {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 8rem;
  transition: all 0.2s;
  display: inline-block;
  background-image: linear-gradient(to right, #b030b0, #602080);
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase; }

p {
  font-size: 1.5rem; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

#white-text {
  background-image: none;
  -webkit-background-clip: none;
  color: #fff;
  font-weight: 400; }

.movie-box__description {
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: .2rem;
  font-weight: 600;
  color: #fff;
  background-image: linear-gradient(to bottom right, #602080, #b030b0);
  padding: .6rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4; }

.utiliy-center-text {
  text-align: center !important; }

.utility-margin-top-small {
  margin-top: 3rem !important; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translate(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* apply the styles of 0% of the animation before the animation starts*/ }

.nice-video__content {
  outline: 0.5rem solid #b030b0;
  outline-offset: .5rem;
  width: 100%;
  object-fit: cover;
  margin: auto; }
  .nice-video__content:hover {
    outline: 0.5rem solid #602080;
    box-shadow: 0 0 50px #b030b0; }

.movie-box {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .movie-box__side {
    height: 100%;
    width: 100%;
    transition: all 0.7s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; }
    .movie-box__side--front {
      border: 1px solid #b030b0;
      background-color: indianred; }
    .movie-box__side--back {
      background-color: #fff;
      transform: rotateY(180deg); }
  .movie-box:hover .movie-box__side--front {
    transform: rotateY(-180deg); }
  .movie-box:hover .movie-box__side--back {
    transform: rotateY(0);
    background-image: linear-gradient(to bottom right, #777, #e2e2e2);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }
  .movie-box__image {
    width: 100%;
    height: 100%; }
  .movie-box__description-area {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }

table {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center; }
  table tr th {
    padding: 0.2rem 3rem; }
    table tr th:not(:first-child) {
      background-color: #000;
      color: #fff; }
  table tr td {
    background-color: #ccc;
    padding: 0.2rem 3rem; }
    table tr td:first-child {
      background-color: #777;
      color: #fff; }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/cinema2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80vh);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80vh); }
  .header__text-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 140rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 0; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 9rem; }
  .row .col-1-of-2 {
    width: calc((100% - 9rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 9rem)/ 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 9rem)/ 3) + 9rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 9rem)/ 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 9rem)/ 4) + 9rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 9rem)/ 4) + 2 * 9rem); }

[class^='section-'] {
  background-color: #e2e2e2;
  padding: 10rem 0 5rem 0;
  margin-top: -50px; }
  [class^='section-']:first-child {
    margin-top: -15vh;
    padding: 15rem 0 20rem 0; }
  [class^='section-']:last-child {
    padding-bottom: 10rem; }

.section-movies {
  background-color: #000;
  transform: skewY(3deg);
  padding: 10rem 0 15rem 0; }
  .section-movies > * {
    transform: skewY(-3deg); }

.section-sessions {
  padding-top: 15rem; }
