$color-primary-light: #b030b0;
$color-primary-dark: #602080;

$color-secondary-light: #202060;
$color-secondary-dark: #202040;

$color-grey-light: #e2e2e2;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// grid 
$grid-width: 140rem;
$gutter-horizontal: 9rem;
$gutter-vertical: 5rem;

//font
$default-font-size: 1.5rem;

//margin
$margin-bottom-small: 3rem;
$margin-bottom-big: 5rem;