.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 5rem;

  &__navigation {
    border-top: 1px solid $color-white;
    display: inline-block;
  }

  &__list {
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
