.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  opacity: 0.4;
}

.utiliy-center-text {
  text-align: center;
}

.utility-margin-top-small {
  margin-top: 3rem;
}